<!-- How I see it:
This is gonna be a page with public info ? Displaying some stands, navigating to information pages etc
Sort of vitrine website and will let you signup and login etc ...
 -->

<html>
<h1> Hello, this is you </h1>

<body>
    <%= user.username %>
    <%= count %>
    <%= moment(user.created_at).format('DD/MM/YY') %> </br>
    <img src = '<%= user.picture %>' />

    </br>
    </br>
    </br>
    <h3> The projects you follow </h3>
    <% for(i=0; i<count; i++) {%>
    <a href='/projects/<%= all_projects[i].name %>'> <button type="submit"><%= all_projects[i].name %> </button> </a> </br> </br> <%  } %>
</body>

</html>