<!-- How I see it:
This is gonna be a page with public info ? Displaying some stands, navigating to information pages etc
Sort of vitrine website and will let you signup and login etc ...
 -->

<html>
<h1> Hello, this is
    <%=project.name %> project</h1>

<form method="POST" action="/projects/<%= project.name %>/image" enctype="multipart/form-data">
image: <input type="file", id="img" name="image" </br>
<input type="submit" value="submit" /> </br> </br>

<body>
    Edition:
    <%= project.edition %>
        </br>
        Led by
        <%= project.leader %>
            </br>
            since
            <%= moment(project.created_at).format('DD/MM/YY') %>
                </br>
                </br>
                It consists in :
                <%= project.description %>
                    </br>
                    We think it's part of this category:
                    <%= project.category %>
                        </br>
                        <%= 'Suis tu ce projet ?  ' + isCurious %>
                        </br>
                        <span id = "isCurious_"> </span>
                        </br>
                        <!-- members part starts here -->

                        <%if (count_members>0) {%>
                        Check out all the other members
                        <% for(i=0; i<count_members; i++) {%>
                            <!-- ici ce sera les photos des membres qui s'afficheront au liejisdjqdddllu d'un bouton -->
                            <a href='/profile/<%= project.members_array[i].username %>'> <button type="submit"><%= project.members_array[i].username %> </button> </a>
                            </br>
                            </br>
                            <%  } %>
                        <% } %>

                        <!-- curious guys start here -->

                        <%if (count_curious>0) {%>Check out all the curious guys
                        <% for(i=0; i<count_curious; i++) {%>
                            <!-- ici ce sera les photos des membres qui s'afficheront au liejisdjqdddllu d'un bouton -->
                            <a href='/profile/<%= project.curious_array[i].username %>'> <button type="submit"><%= project.curious_array[i].username %> </button> </a>
                            </br>
                            </br>
                            <% } %>
                        <% } %>


                        <span id="application_area" onclick="apply_new_input()">
                        <button> Apply here </button>
                        </span>

    <!-- This part displays the curious button as long as the user is authentified. NB: Will need a check to removes the button once curious -->
    <% if((auth) && (!isCurious)) { %>
    <form method="POST" action="/projects/<%= project.name %>/newcurious">
    <button name="curious" value="true"> Curious/interested </button> </form>
    <%} else { %>
    <form method="POST" action="/projects/<%= project.name %>/removecurious">
    <button name="curious" value="false"> Ne plus être curieux </button> </form>
    <% } %>

    <!-- This is a if condition that checks if the guy is the leader and allows him to delete the project -->
    <% if(user.username == project.leader && (auth)) { %>
    <form method="POST" action="/projects/<%= project.name %>/delete">
    <button name="delete" value="deleteproject"> Delete the project </button> </form>
    <%} %>
</body>

    <button type = "submit" onclick="curiousClick(<%= isCurious %>)"> test moi </button>
<script>
    var flag = 0
    function apply_new_input() {
        if (flag == 0) {  //meaning the text area doesn't exist yet but to be improved @Dorian
            document.getElementById('application_area').innerHTML = '<form method="POST" action="/projects/' + '<%= project.name %>/application">' + '</br> <textarea input type="text" id="application" name=application style="width:300px; height:120px"> </textarea> </br>' +
                '<button name="apply" value="member">Join the project</button> </form>';
            flag = 1
        }
    }

    var frontCurious = <%= isCurious %>;
    

    document.getElementById('isCurious_').innerHTML = frontCurious;


    function curiousClick(isCurious) {
        console.log(frontCurious);
        frontCurious = (!frontCurious)
        document.getElementById('isCurious_').innerHTML = frontCurious;
    }
    
</script>


</html>